<nav class='bg-black text-white'>
  <ul class='flex flex-col md:flex-row gap-1 md:gap-12 md:justify-center p-4'>
    <li><a href='#'>Home</a></li>
    <li><a href='#'>Projects</a></li>
    <li><a href='#'>Skills</a></li>
    <li><a href='#'>About</a></li>
    <li><a href='#'>Contact</a></li>
  </ul>
</nav>
